<head>
    <title>HOME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-12">
          <div id="">
              <table>
              <tr><td>
                <font size="20px">
                    <marquee direction="left" scrolldelay="1">CARI INFO NGE-KOST DENGAN HARGA MURAH, FASILITAS LENGKAP, DAN BEBAS SOPAN</marquee>
                </font>
                <video width="1000px" height="400" controls autoplay muted loop id="myVideo">
                  <source src="../src/app/img/7.mp4" type="video/mp4">
                </video>
                </td></tr> 
              </table>
            </div>     
      </div>
    </div> 
  </div>
  <hr>
  <div class="container" style="background-color:#43b7ff;" >
    <img src="../src/app/img/1.jpg" width="500px" align="right">
    <div class="row" >
      <div class="col-sm-4">
        <h3>Kami adalah agen NGE-KOST terpercaya yang sudah banyak di buktikan oleh banyak orang.</h3>
        <p>Jika anda memiliki keluhan atau masukan, silahkan memasukkannya pada komentar atau menghubungi nomor di bawah ini</p>
        <p>No HP/WA = 081249432170</p>
        <p>Email matadewa2000@gmail.com</p>
      </div>
    </div>
  </div>
  <hr>
  </body>