<div class="row">
  <div class="col-xs-12">
    <img [src]="kost.imagePath" 
    alt="{{kost.name}}" 
    class="img-responsive"
    style="max-height:300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{kost.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group"
    appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Kost <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li> <a (click) ="onAddKomentarList()" style="cursor:pointer;"> To Komentar </a></li>
        <li> <a style="cursor:pointer;"(click)="onEditKost()"> Edit Kost</a></li>
        <li> <a style="cursor:pointer"(click)="onDeleteKost()"> Delete Kost </a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{kost.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- Komentar -->
    <ul class="list-group">
      <li
      class="list-group-item"
      *ngFor="let komentar of kost.komentars">
    {{komentar.name}}-{{komentar.amount }}
    </li>
    </ul>
  </div>
</div>

